/* Your SCSS here. */
$bg-color1: rgb(60, 184, 147);
$bg-color2: rgba(216, 242, 244, 0.762);
$top-bottom-color: hsl(205, 32%, 18%);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


.header {
    position: sticky;
    top: 0;
}

.navbar {
    background-color: $top-bottom-color;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:all .3s ease;
    
    
    ul {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        li {
            list-style-type: none;
            font-weight: 600;
            font-size: 3rem;
            transition:all .3s ease;

            a {
                display: inline-block;
                padding: 1rem 2rem;
                text-decoration: none;
                // background-color: black;
                color: white;
                font-size: 1.5rem;
                transition: background-color .25s ease;

                &:hover {
                    color: $bg-color1;
                }
                
                &.active {
                    background-color: hsl(0, 0%, 12%);
                }
            }
        }
    }

    &.shrink {
        padding: .8rem 1.5rem;
        ul li {
            font-size: 2em;
        }
    }
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 80%;
}



#portfolio {background-color: $bg-color1;}
#about {
    background-color: $bg-color2;
    background: 
        linear-gradient( $bg-color2, $bg-color2),
        url(../assets/TacoBellxMichigan.jpg) center fixed;
    color: black;
    
}
#contact {background-color: $bg-color1;}





// footer
.footer {
    background-color: $top-bottom-color;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        padding: 7rem;
    }
}